<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:solr="http://www.springframework.org/schema/data/solr"
       xsi:schemaLocation="http://www.springframework.org/schema/data/solr
  		http://www.springframework.org/schema/data/solr/spring-solr-1.0.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- solr服务器地址 -->
    <!-- 注意：如果使用的solr为7+版本则url必须指定core的名称，如果solr中有多个core也必须指定core，如果不指定则默认操作第一个core -->
    <solr:solr-server id="solrServer" url="http://192.168.199.99:8080/solr-4.10.3/xiaomaigou_core" />
    <!--<solr:solr-server id="solrServer" url="http://192.168.199.99:8080/solr_7.3.0/xiaomaigou_core" />-->
    <!-- solr模板，使用solr模板可对索引库进行CRUD的操作 -->
    <bean id="solrTemplate" class="org.springframework.data.solr.core.SolrTemplate">
        <constructor-arg ref="solrServer" />
    </bean>

</beans>
